 
 body{
     background-color: rgb(250, 233, 210);
 }

  h2 {
    font-family: Lobster, Monospace;
  }

  

  .thick-white-border {
    border-color: rgb(245, 216, 179);
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

 